{{!
    @template mod_cmi5/launch_frame

    Iframe container for embedded AU launch.

    Context variables:
    * launchurl - full launch URL for the AU
    * title - AU title
    * returnurl - URL to return to activity view
}}
<div class="mod-cmi5-launch-frame">
    <div class="d-flex justify-content-between align-items-center p-2 bg-light border-bottom">
        <h4 class="m-0">{{title}}</h4>
        <a href="{{returnurl}}" class="btn btn-secondary btn-sm">
            {{#str}}back{{/str}}
        </a>
    </div>
    <iframe src="{{launchurl}}"
            class="mod-cmi5-iframe w-100"
            style="height: calc(100vh - 60px); border: none;"
            allowfullscreen
            allow="microphone; camera; autoplay; encrypted-media">
    </iframe>
</div>
